<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Search</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Video Search</h1>
    <form action="/search" method="get" class="my-4">
        <div class="form-group">
            <input type="text" name="query" class="form-control" placeholder="Enter search term or phrase" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>

    <div id="results">
        <div class="row">
            <th:block th:if="${videos != null}">
                <th:block th:each="video : ${videos}">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${video.description}"></h5>
                                <video controls class="w-100">
                                    <source th:src="@{${video.video_url}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
            <th:block th:if="${videos == null || videos.size() == 0}">
                <p class="text-center">No videos found</p>
            </th:block>
        </div>
    </div>

    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
</div>
<!-- Подключение Bootstrap JS и зависимостей -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
